header
  div(class="background")
    div(class="title-container")
      div(class="text-container")
        h1(class="text-layer text-layer-bottom")= welcome
        h1(class="text-layer text-layer-top")= titleTop
